<!DOCTYPE html>
<html class="bg-dark">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <title>Federacion de Tenis</title>

  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %> 
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="content" class="m-t-lg wrapper-md animated fadeInDown">
    <div class="container aside-xxl">
      <a class="navbar-brand block" href="">Federación de Tenis</a>
      <section class="panel panel-default m-t-lg bg-white">
        <header class="panel-heading text-center">
          <strong>Registrarse</strong>
        </header>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "panel-body wrapper-lg"}) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <label class="control-label">Nombres</label>
            <%= f.text_field :first_name, autofocus: true, :class => "form-control input-lg", :placeholder => "Ej: Juan" %>
          </div>

          <div class="form-group">
            <label class="control-label">Apellidos</label>
            <%= f.text_field :last_name, autofocus: true, :class =>"form-control input-lg", :placeholder => "Ej: Perez" %>
          </div>

          <div class="form-group">
            <label class="control-label">Correo Electrónico</label>
            <%= f.email_field :email, autofocus: true, :class => "form-control input-lg", :placeholder => "Ej: nombre@dominio.com" %>
          </div>
          
          <div class="form-group">
            <label class="control-label">Contraseña</label>
            <% if @minimum_password_length %>
            <em>(Mínimo: <%= @minimum_password_length %> caracteres)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", :class => "form-control input-lg", :placeholder => "No compara su contraseña" %>
          </div>

          <div class="form-group">
            <label class="control-label">Confirmar Contraseña</label>
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control input-lg", :placeholder => "Ingrese de nuevo la contraseña"%>
          </div>

          <div class="actions">
            <%= f.submit "Registrarse", :class => "btn btn-primary"%>
          </div>

          <div class="line line-dashed"></div>
          <p class="text-muted text-center"><small>¿Ya tienes una cuenta?</small></p>
          <%= render "devise/shared/links" %>
        <% end %>
      </section>
    </div>
  </section>
  
</body>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Include JQuery -->
  <%= javascript_include_tag 'http://code.jquery.com/jquery-2.2.2.min.js' %>
  <!-- Include bootstrap js -->
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %>
</html>

