<p id="notice"><%= notice %></p>

<p>
  <strong>Game1:</strong>
  <%= @result.game1 %>
</p>

<p>
  <strong>Game2:</strong>
  <%= @result.game2 %>
</p>

<p>
  <strong>Game3:</strong>
  <%= @result.game3 %>
</p>

<p>
  <strong>Game4:</strong>
  <%= @result.game4 %>
</p>

<p>
  <strong>Game5:</strong>
  <%= @result.game5 %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
