<%= form_for @match do |f| %>
  <div class="form-group">
    <%= f.label :player_home_id, :class => 'control-label' %>
    <%= f.number_field :player_home_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :player_visit_id, :class => 'control-label' %>
    <%= f.number_field :player_visit_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :winner, :class => 'control-label' %>
    <%= f.number_field :winner, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :result_id, :class => 'control-label' %>
    <%= f.number_field :result_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :game1, :class => 'control-label' %>
    <%= f.text_field :game1, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :game2, :class => 'control-label' %>
    <%= f.text_field :game2, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :game3, :class => 'control-label' %>
    <%= f.text_field :game3, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :game4, :class => 'control-label' %>
    <%= f.text_field :game4, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :game5, :class => 'control-label' %>
    <%= f.text_field :game5, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matches_path, :class => 'btn' %>
  </div>
<% end %>
