<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Player Home:</label>
    <%= f.collection_select(:player_home_id, @users, :id, :fullname) %>
  </div>
  <div class="field">
    <label>Player Visit:</label>
    <%= f.collection_select(:player_visit_id, @users, :id, :fullname) %>
  </div>
  <div class="field">
    <%= f.label :winner %><br>
    <%= f.number_field :winner %>
  </div>
  <div class="field">
    <%= f.label :game1 %><br>
    <%= f.text_field :game1, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :game2 %><br>
    <%= f.text_field :game2, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :game3 %><br>
    <%= f.text_field :game3, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :game4 %><br>
    <%= f.text_field :game4, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :game5 %><br>
    <%= f.text_field :game5, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
