<p id="notice"><%= notice %></p>

<p>
  <strong>Player home:</strong>
  <%= @match.player_home_id %>
</p>

<p>
  <strong>Player visit:</strong>
  <%= @match.player_visit_id %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @match.winner %>
</p>

<p>
  <strong>Result:</strong>
  <%= @match.result_id %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
