<!DOCTYPE html>
<html>
<head>
  <title>TennisFederation</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">Federación de Tenis</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item drowpdown">
        <% if user_signed_in? %>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false"><strong><%= current_user.email %></strong></a>
        <ul class="dropdown-menu">
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false"><strong>Log In</strong></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
        </ul>
      </li>
    </ul>
  </nav>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="publicity text-center" id="publicity-1">
    <span>
      <strong>Publicidad</strong>
    </span>
  </div>

  <div class="body">
    <div class="col-md-2 publicity" id="publicity-2">
      <span><strong>Publicidad</strong></span>
    </div>
    <div class="col-md-8 container">
      <%= yield %>
    </div>
    <div class="col-md-2 publicity" id="publicity-3">
      <span><strong>Publicidad</strong></span>
    </div>
  </div>
  </body>

  <!-- Include JQuery -->
  <%= javascript_include_tag 'http://code.jquery.com/jquery-2.2.2.min.js' %>
  <!-- Include bootstrap js -->
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %>
</html>
